.coworking-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.coworking-container1 {
  padding-top: 112px;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(270deg, rgba(141, 164, 212, 0.3) 17.00%, rgba(255, 255, 255, 0.1) 100.00%), url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDR8fGJhY2tncm91bmR8ZW58MHx8fHwxNjk3MTE4MTc4fDA&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}

.coworking-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.coworking-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.coworking-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.coworking-text {
  margin-right: var(--dl-space-space-doubleunit);
}

.coworking-text01 {
  margin-right: var(--dl-space-space-doubleunit);
}

.coworking-text04 {
  margin-right: var(--dl-space-space-doubleunit);
}

.coworking-profile {
  width: 178px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-end;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.coworking-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}

.coworking-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}

.coworking-text05 {
  font-size: 1.15rem;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.coworking-text06 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
}

.coworking-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.coworking-burger-menu1 {
  width: 24px;
  height: 24px;
}

.coworking-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.coworking-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.coworking-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}

.coworking-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.coworking-icon03 {
  width: 24px;
  height: 24px;
}

.coworking-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.coworking-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}

.coworking-text07 {
  margin-bottom: 8px;
}

.coworking-text08 {
  margin-bottom: 8px;
}

.coworking-text09 {
  margin-bottom: 8px;
}

.coworking-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.coworking-text11 {
  padding-bottom: var(--dl-space-space-halfunit);
}

.coworking-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.coworking-link {
  display: contents;
}

.coworking-icon05 {
  width: 24px;
  height: 24px;
}

.coworking-link1 {
  display: contents;
}

.coworking-icon07 {
  width: 24px;
  height: 24px;
}

.coworking-link2 {
  display: contents;
}

.coworking-icon09 {
  width: 24px;
  height: 24px;
}

.coworking-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--dl-space-space-quadruple);
  padding-top: var(--dl-space-space-quadruple);
  padding-bottom: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-quadruple);
  padding-right: var(--dl-space-space-quadruple);
  flex-direction: column;
}

.coworking-text12 {
  color: #14213d;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}

.coworking-text13 {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-tripleunit);
}

.coworking-text14 {
  font-size: 20px;
}

.coworking-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-quadruple);
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}

.coworking-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.coworking-text16 {
  color: #14213d;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.coworking-container6 {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
}

.coworking-container7 {
  gap: 0;
  flex: 0 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
}

.coworking-image1 {
  width: 400px;
  object-fit: cover;
}

.coworking-image2 {
  width: 400px;
  object-fit: cover;
}

.coworking-image3 {
  width: 400px;
  object-fit: cover;
}

.coworking-image4 {
  width: 400px;
  object-fit: cover;
}

.coworking-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.coworking-form {
  width: 200px;
  height: 100px;
  display: flex;
  align-self: center;
}

@media(max-width: 991px) {
  .coworking-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }

  .coworking-image {
    margin-left: 0px;
  }
}

@media(max-width: 767px) {
  .coworking-right-side {
    display: none;
  }

  .coworking-burger-menu {
    display: flex;
  }
}